/* TODO Add site wide styles */

body {
    margin: 0;
}

table {
    border-collapse: collapse;
}

a:hover {
    text-decoration: underline;
}


td {
    width: 200px;
}


#searchInput {
    border: 1px solid black;
    margin: 20px;
    padding: 2px 2px 2px 7px;
}
