
.book-profile-margin-container {
    margin-left: 25%;
    margin-right: 25%;
}


.profile-grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

.profile-thumbnail-shelf-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin-top: 0;
}

.book-profile-thumbnail {
    box-shadow: 0 0 3px 0;
    height: 150px;
}

.button-link-burn {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.burn-book-button {
    width: 150px;
    height: 50px;
    font-size: 16px;
}

.burn-book-button:hover {
    color: white;
    background-color: firebrick;
    box-shadow: 0 0 3px 1px;
    font-weight: bolder;
}

.book-burns-header {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}


.profile-book-burn-container {
    /* margin-top: 40px; */
    padding: 10px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 20px;
}

.burn-firstname {
    font-size: 24px;
}

.fa-gripfire {
    font-size: 24px;
    color: firebrick;
}

.burn-review-container {
    margin-top: 10px;
}

.burn-review {
    font-size: 24px;
}

.burn-delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.burn-delete-button {
    color: solid black;
}

.burn-delete-button:hover {
    background-color: firebrick;
    color: white;
    font-weight: bolder;
}
