
.book-profile-margin-container {
    margin-left: 25%;
    margin-right: 25%;
}


.profile-grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 0 auto;
}

.profile-thumbnail-shelf-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    margin-top: 0;
}

.book-profile-thumbnail {
    box-shadow: 0 0 3px 0;
    height: 150px;
}

.button-link-burn {
    margin-top: 20px;
}

.burn-book-button {
    width: 150px;
    height: 50px;
    font-size: 16px;
}

.burn-book-button:hover {
    color: white;
    background-color: firebrick;
    box-shadow: 0 0 3px 1px;
}

.profile-burns-container {
    margin-top: 20px;
}

.profile-book-burn-container {
    margin-top: 40px;
}

.burn-firstname {
    font-size: 24px;
}

.fa-gripfire {
    font-size: 24px;
    color: firebrick;
}

.burn-review-container {
    margin-top: 10px;
}

.burn-review {
    font-size: 24px;
}
