include ../utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/sign-forms.css")
  link(rel="stylesheet" href="/stylesheets/navbar.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

div.auth-form__container
  div.side-logo
    div.br-logo__container
      a.logo(href="/" id="logo")
        span.logo.logo-beg#auth-logo burn
        span.logo.logo-end#auth-logo reads
    div(class="mainFormContentContainer")
      div(class="form-items__container")
        div(class="form-content__group")
          h1(id="sign-header") Sign up to Burnreads
          div(class="form-input__container")
            +validationErrorSummary(errors)
            form.auth-form__container(action='/users/sign-up' method='post' id="auth-form")
              input(type='hidden' name='_csrf' value=csrfToken)
              +newField('First Name', 'first_name', first_name, "text","", "form-input", "auth-form-field")
              +newField('Last Name', 'last_name', last_name, "text","", "form-input", "auth-form-field")
              +newField('Email Address', 'email', email, "text", "", "form-input", "auth-form-field")
              +newField('Zip code', 'zip', zip,"text","", "form-input", "auth-form-field")
              +newField('Password', 'password', '', 'password', "","form-input", "auth-form-field")
              +newField('Confirm Password', 'confirmPassword', '', 'password', "", "form-input", "auth-form-field")
              div
                button(type='submit' class='br-button' id='auth-button') Sign up
            p: a.auth-link(href='/users/sign-in') Already have an account? Click here!
